<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title class="fontee">PetShop Alibabá</title>

    <link href = "{% static 'css/estilo.css' %}" rel = "stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <!-- Campo de Email e Senha -->
    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form class="form-container">
                    <center><img src="{% static 'css/imagens/check.png' %}" width="30" height="30" class="d-inline-block" alt="" align="center"></center>
                    <center><h5 style="padding: 15px">
                            E-mail enviado com Sucesso
                    </h5></center>
                    <!-- Botão de Entrar e Cancelar -->
                    <div class="text-center card-space">
                        <center><a href="{% url 'login' %}" class="btn btn-outline-primary">Voltar</a></center>
                    </div>
                </form>
                </div>
            </section>
        </section>
    </section>
</body>
</html>