<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title class="fontee">PetShop Alibabá</title>

    <link href = "{% static 'css/estilo.css' %}" rel = "stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <!-- Campo de Email e Senha -->
    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form class="form-container" method="POST">
                  {% csrf_token %}
                    <h1 class="navbar-brand center">
                        <img src="{% static 'css/imagens/forgot.png' %}" width="60" height="60" class="d-inline-block" alt="">
                        Nova senha
                    </h1>
                <div class="card-body card-space">
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleEmail" aria-describedby="emailHelp" placeholder="Nova Senha" required name="{{ form.new_password1.name }}">
                    </div>
                    {% for error in form.new_password1.errors %}
	                  <p style="color: red"> {{ error }} </p>
                    {% endfor %}

                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleEmail" aria-describedby="emailHelp" placeholder="Repeta a Senha" required name="{{ form.new_password2.name }}">
                    </div>
                     {% for error in form.new_password2.errors %}
                        <center><p style="color: red; font-size: 12px"> {{ error }} </p></center>
                      {% endfor %}

                    <!-- Botão de Entrar e Cancelar -->
                    <div class="text-right">
                        <center><button type="submit" class="btn btn-outline-primary">Confirmar</button>
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a></center>
                    </div>
                </div>
                </form>
                </div>
            </section>
        </section>
    </section>
</body>
</html>