<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title class="fontee">PetShop Alibabá</title>

    <link href = "{% static 'css/estilo.css' %}" rel = "stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <!-- Campo de Email e Senha -->
    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <form class="form-container" method="POST">
                    {% csrf_token %}
                    <h1 class="navbar-brand center">
                        <img src="{% static 'css/imagens/forgot.png' %}" width="60" height="60" class="d-inline-block" alt="">
                        Recuperar Senha
                    </h1>
                <div class="card-body card-space">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleEmail" aria-describedby="emailHelp" placeholder="E-mail" required name="{{ form.email.name }}">
                    </div>
                    <!-- Botão de Entrar e Cancelar -->
                    <div class="text-right">
                        <button type="submit" class="btn btn-outline-primary">Confirmar</button>
                        <a href="{% url 'login' %}" class="btn btn-outline-danger">Voltar</a>
                    </div>
                </form>
                </div>
            </section>
        </section>
    </section>
</body>
</html>