{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div id="content-wrapper">

        <div class="container-fluid">
        <h1>Editar Produto</h1>
        <hr>

        <form class="col-5 espacamento" method="POST">
            {% csrf_token %}
            <div class="botao">
                <img class="displayed" src="{% static 'css/imagens/questionnaire.png' %}" alt="" width="100" height="100">
            </div>
            <fieldset>
                <div style="display: none">
                {{ form.category }} <!-- campo não é exibido -->
                </div>
                  {% for error in form.category.errors %}
                    {{error}}
                  {% endfor %}

                <!-- Campo de Nome/Código -->
                <div class="row">
                  <div class="campos form-group2 col-9">
                    <label>Nome do Produto</label>
                    <input type="text"
                           class="form-control"
                           id="exampleNome" required
                           name="{{ form.name.name }}"
                           value="{{ form.name.value }}">
                    <ul class="text-center" style="font-size:12px; color: #C53F3F">
                      {% for error in form.name.errors %}
                        {{error}}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="campos form-group2 col-3">
                    <label>Código</label>
                    <input type="number"
                           class="form-control"
                           id="exampleCodigo" required
                           name="{{ form.code.name }}"
                           value="{{ form.code.value }}">
                    <ul class="text-center" style="font-size:12px; color: #C53F3F">
                      {% for error in form.code.errors %}
                        {{error}}
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <!-- Campo de Quantidade/Validade -->
                <div class="row">
                  <div class="campos form-group2 col-6">
                    <label>Quantidade</label>
                    <input type="number"
                           class="form-control"
                           id="exampleQuantidade" required
                           name="{{ form.quantity.name }}"
                           value="{{ form.quantity.value }}">
                    <ul class="text-center" style="font-size:12px; color: #C53F3F">
                      {% for error in form.quantity.errors %}
                        {{error}}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="campos form-group2 col-6">
                    <label>Data de validade</label>
                      <div>{{ form.expiration_date }}</div>
                    <ul class="text-center" style="font-size:12px; color: #C53F3F">
                      {% for error in form.expiration_date.errors %}
                        {{error}}
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <!-- Campo de Preço de Compra/Venda -->
                <div class="row">
                  <div class="campos form-group2 col-6">
                    <label>Preço de Compra</label>
                      {{ form.price_of_buy }} <!--Input formatado no forms.py-->
                    <ul class="text-center" style="font-size:12px; color: #C53F3F">
                      {% for error in form.price_of_buy.errors %}
                        {{error}}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="campos form-group2 col-6">
                    <label>Preço de Venda</label>
                    {{ form.price_of_sale }} <!--Input formatado no forms.py-->
                    <ul class="text-center" style="font-size:12px; color: #C53F3F">
                      {% for error in form.price_of_sale.errors %}
                        {{error}}
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <!-- Campo de Descrição -->
                <div class="row">
                  <div class="campos form-group2 col-12">
                    <label>Descrição do Produto</label>
                    <input type="text"
                            class="form-control"
                            id="exampleDescrição"
                            name="{{ form.description.name }}"
                            value="{{ form.description.value }}">
                  </div>
                </div>


            </fieldset>
            <!-- Botões -->
            <div class="botao">
                <button type="submit" class="btn btn-outline-primary">Salvar alterações</button>
                <a href="{% url 'produto_list' %}" class="btn btn-outline-danger">Cancelar</a>
            </div>
        </form>
        </div>
    </div>


{% endblock %}