<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>

    <h2>Editar Cliente</h2>

        <ul>
          <form method='POST'>
            {% csrf_token %}
              {% if success %}
                <p>Dados de {{ client.name }} atualizados.</p>
              {% endif %}
        <fieldset>
            <h2>Cliente</h2>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Salvar</button>
                <p><a href="{% url 'cadastrar_pet' client.pk %}">Adicionar Animal</a></p>

                <a href="{% url 'client_list' %}">Voltar</a>
            </div>
        </fieldset>
          </form>
        </ul>

</head>
<body>

</body>
</html>