<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Animal</title>

    <h2>Editar Animal</h2>
        <ul>
          <form method='POST'>
            {% csrf_token %}
              {% if success %}
              <p>Dados de {{ pet.name }} atualizados.</p>
              {% endif %}
        <fieldset>
            <h3>{{ pet.name }}</h3>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Salvar</button>
                <a href="{% url 'pet_list' owner.pk %}">Voltar</a>
            </div>
        </fieldset>
          </form>
        </ul>

</head>
<body>

</body>
</html>